.page-register:before {
  background-image: url("../../../../iconbar/assets/examples/images/login.jpg");
}
.page-register a {
  color: #9fa8da;
}
.page-register form {
  width: 340px;
  margin: 22px auto;
}
.page-register .form-control,
.page-register .floating-label,
.page-register .form-control:focus + .floating-label {
  color: #bdbdbd;
}
@media (max-width: 480px) {
  .page-register form {
    width: auto;
  }
}
