// Load variables
@import "vars.less";

// Load fontface
// -------------------------------
// @import (css)"@{use-font-family-url}";

// Sections
// -------------------------------
@import "sections/site-navbar.less";
@import "sections/site-menubar.less";
@import "sections/site-menu.less";
@import "sections/site-sidebar.less";
@import "sections/site-action.less";
@import "sections/page.less";
@import "sections/page-header.less";
@import "sections/page-aside.less";
@import "sections/site-footer.less";

// Layouts
// -------------------------------
@import "layouts/layout-full.less";
@import "layouts/layout-boxed.less";
@import "layouts/layout-print.less";
@import "layouts/site-navbar-collapse-show.less";
@import "layouts/site-navbar-small.less";
@import "layouts/responsive-phone.less";
@import "layouts/site-menubar-flipped.less";

// Components
// -------------------------------
& when (@use-checkbox-radio = true) {
  @import "components/checkbox-radio.less";
}
& when (@use-material-forms = true) {
  @import "components/material-forms.less";
}
& when (@use-loader = true) {
  @import "components/loader.less";
}
& when (@use-animation = true) {
  @import "components/animation.less";
}
& when (@use-colors = true) {
  @import "components/colors.less";
}
& when (@use-bg = true) {
  @import "components/bg.less";
}
& when (@use-social = true) {
  @import "components/social.less";
}
& when (@use-blocks = true) {
  @import "components/blocks.less";
}
//@import "components/divider.less";
& when (@use-avatar = true) {
  @import "components/avatar.less";
}
& when (@use-status = true) {
  @import "components/status.less";
}
& when (@use-icon = true) {
  @import "components/icon.less";
}
& when (@use-hamburger = true) {
  @import "components/hamburger.less";
}
& when (@use-counter = true) {
  @import "components/counter.less";
}
& when (@use-widget = true) {
  @import "components/widget.less";
}
& when (@use-panel-groups = true) {
  @import "components/panel-groups.less";
}
& when (@use-cover = true) {
  @import "components/cover.less";
}
& when (@use-overlay = true) {
  @import "components/overlay.less";
}
& when (@use-comment = true) {
  @import "components/comment.less";
}
& when (@use-chat = true) {
  @import "components/chat.less";
}
& when (@use-steps = true) {
  @import "components/steps.less";
}
& when (@use-pearls = true) {
  @import "components/pearls.less";
}
& when (@use-timeline = true) {
  @import "components/timeline.less";
}
& when (@use-testimonial = true) {
  @import "components/testimonial.less";
}
& when (@use-pricing-list = true) {
  @import "components/pricing-list.less";
}
& when (@use-pricing-table = true) {
  @import "components/pricing-table.less";
}
& when (@use-rating = true) {
  @import "components/rating.less";
}
& when (@use-ribbon = true) {
  @import "components/ribbon.less";
}
& when (@use-dotnav = true) {
  @import "components/dotnav.less";
}
& when (@use-color-selector = true) {
  @import "components/color-selector.less";
}
& when (@use-helper-width = true) {
  @import "components/helper-width.less";
}
& when (@use-helper-height = true) {
  @import "components/helper-height.less";
}
& when (@use-helper-margin = true) {
  @import "components/helper-margin.less";
}
& when (@use-helper-padding = true) {
  @import "components/helper-padding.less";
}
& when (@use-example = true) {
  @import "components/example.less";
}

// Load custom
// -------------------------------
   @import "custom.less";