<header class="slidePanel-header overlay" style="background-image: url('../../../assets/images/photos/placeholder.png');')">
  <div class="overlay-panel overlay-background vertical-align">
    <div class="slidePanel-actions">
      <div class="btn-group btn-group-flat">
        <button type="button" class="btn btn-pure btn-inverse icon md-folder" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure btn-inverse icon md-delete" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon md-close"
        aria-hidden="true"></button>
      </div>
    </div>
    <div class="vertical-align-middle">
      <a class="avatar" href="javascript:void(0)">
        <img src="../../../assets/images/portraits/2.jpg" alt="...">
      </a>
      <h3 class="name">Seevisual</h3>
      <div class="tags">
        <button type="button" class="btn btn-inverse">Desginer</button>
        <button type="button" class="btn btn-inverse">UI</button>
        <button type="button" class="btn btn-inverse">Rocker</button>
      </div>
    </div>
    <button type="button" class="edit btn btn-success btn-floating" data-toggle="edit">
      <i class="icon md-edit animation-scale-up" aria-hidden="true"></i>
      <i class="icon md-close animation-scale-up" aria-hidden="true"></i>
    </button>
  </div>
</header>
<div class="slidePanel-inner">
  <table class="user-info">
    <tbody>
      <tr>
        <td class="info-label">Email:</td>
        <td>
          <span>mazhesee@gmail.com</span>
          <div class="form-group form-material floating">
            <input type="email" class="form-control empty" name="inputFloatingEmail" value="mazhesee@gmail.com">
          </div>
        </td>
      </tr>
      <tr>
        <td class="info-label">Phone:</td>
        <td>
          <span>13581729789</span>
          <div class="form-group form-material floating">
            <input type="text" class="form-control empty" name="inputFloatingPhone" value="13581729789">
          </div>
        </td>
      </tr>
      <tr>
        <td class="info-label">Address:</td>
        <td>
          <span>Fuzhou</span>
          <div class="form-group form-material floating">
            <input type="text" class="form-control empty" name="inputFloatingAddress" value="Fuzhou">
          </div>
        </td>
      </tr>
      <tr>
        <td class="info-label">Birthday:</td>
        <td>
          <span>1990/2/15</span>
          <div class="form-group form-material floating">
            <input type="text" class="form-control empty" name="inputFloatingBirthday" value="1990/2/15">
          </div>
        </td>
      </tr>
      <tr>
        <td class="info-label">URL:</td>
        <td>
          <span>http://amazingSurge.com</span>
          <div class="form-group form-material floating">
            <input type="text" class="form-control empty" name="inputFloatingURL" value="http://amazingSurge.com">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>